﻿<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>


<script>
    function login() {
        var username = document.getElementById("user").value;
        var password = document.getElementById("pass").value;
        if (username != "" && password != "") {
            alert("Login successfully");
            window.location = "index.html";
            return false;
        }
        else if (username == "" || password == "") {
            alert(" Please enter full information");
        }
    }
</script>

<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != null && ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;
        }
    }

    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Tour Du Lịch Hấp Dẫn Đến Nha Trang
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid lienhe">
    <div class="row" style="margin: 20px 0 20px 0">
        <div class="col-lg-12 col-xs-12">
            <h1>Thông tin liên hệ:</h1>
            <p>
                Công Ty Du lịch Quang Tùng
            </p>

            <p>
                Số điện thoại liên hệ: 0985708579 - 0329489889
            </p>
            <p>
                Thông tin chuyển khoản: 6220205338207 AgriBank
            </p>

            <p>
                Địa chỉ mail: tranquangtung9889@gmail.com - tranquangtung2502@gmail.com
            </p>
            <p>
                Địa chỉ trụ sở Cty: 236B Lễ Văn Sỹ - Phường 1 - Q.Tân Bình - Tp.HCM
            </p>
        </div>

    </div>
    <div class="row" style="margin: 20px 0 20px 0">

        <div class="col-md-6 col-sm-6 col-xs-12 " style="margin-bottom: 20px">
            @{
                string ggMap = @"https://www.google.com/maps/place/236B+%C4%90%C6%B0%E1%BB%9Dng+L%C3%AA+V%C4%83n+S%E1%BB%B9,+Ph%C6%B0%E1%BB%9Dng+1,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7964369,106.6646088,17z/data=!3m1!4b1!4m5!3m4!1s0x3175292e7005d37d:0x147c99f44d5fc571!8m2!3d10.7964316!4d106.6667975";
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.776871344187!2d106.6667967!3d10.796432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae118f87eef3dca1!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUw6BpIG5ndXnDqm4gdsOgIE3DtGkgdHLGsOG7nW5nIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1591517191822!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            }
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-5 col-sm-5 col-xs-12 " style="margin-bottom: 20px">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "lienhe" }))
            {
                <label> Họ và Tên </label><br>
                <input type="text" name="hoten" id="hovaten" required>
                <br>
                <label>Địa Chỉ</label><br>
                <input type="text" name="diachi" id="diachi" required> <br>
                <label>Email</label><br>
                <input type="email" name="email" id="email" required> <br>
                <label> Số Điện Thoại</label><br>
                <input type="tel" name="phone" id="sodienthoai" pattern="(0)+([0-9]{9})\b" required><br>
                <label> Tiêu Đề </label> <br>
                <input type="text" name="tieude" id="tieude" required><br>
                <label>Yêu Cầu </label> <br>
                <textarea name="yeucau" id="yeucau" rows="5" required></textarea> <br>
                <button type="submit">Gửi Liên Hệ</button>
            }
        </div>
    </div>
</div>


<div id="hotel">
    <div class="container">

    </div>
</div>

@Html.Partial("_Footer")

</div>