﻿
<div id="container">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }
    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Kỳ nghỉ thú vị tại Nha Trang</br>
                    với trên 1000 khách sạn
                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>
        </div>
    </div>
    <div id="our_promise">
        <div class="container-fluid ">
            <div id="our_promise_title"> CHÚNG TÔI ĐẢM BẢO:</div>

            <div class="row " style="width: 80%; margin: 0 auto; text-align: center;  color: rgb(70,68,68)">

                <div class="col-sm-2 col-md-2">
                    <p>Điều hòa nhiệt độ</p>

                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-AC_Rooms.png" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <p>Truyền hình cáp</p>
                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-Cable_TV.png" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <p>Giường sạch sẽ</p>
                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-Spotless_Linen.png" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <p>Bữa sáng miễn phí</p>
                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-Complimentary_Breakfast.png" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <p>Miễn phí Wi-Fi</p>
                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-Free_Wi-Fi.png" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <p>WC đạt chuẩn</p>
                    <img class="img-responsive" src="~/Assets/img/homepage/tiennghi-Hygienic_Washrooms.png" />
                </div>
            </div>
        </div>
    </div>
    <div id="hotel">
        <div class="container">
            
        </div>
    </div>

    <div id="services" class="container-fluid text-center">

        <div class="section-title section-title-center" style="margin-bottom: 20px;">
            <h3 class="title" style="color: #F44336;font-weight: bold">
                <span style="color: #1db8c1">Dịch Vụ</span> Của Chúng Tôi
            </h3>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-piggy-bank logo-small"></span>
                <h4>TIẾT KIỆM </h4>
                <p>Giá phòng hợp lí và chất lượng</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo-small"></span>
                <h4>THÂN THIỆN</h4>
                <p>Đối với bạn chúng tôi là nhà</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-map-marker logo-small"></span>
                <h4>THUẬN TIỆN</h4>
                <p>Gần các danh lam thắng cảnh </p>
            </div>
        </div>
        <br><br>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-star logo-small"></span>
                <h4>CHẤT LƯỢNG</h4>
                <p>Chất lượng khách sạn 5 sao</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo-small"></span>
                <h4>HIỆN ĐẠI </h4>
                <p>Áp dụng công nghệ hiện đại </p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon 	glyphicon-ok logo-small"></span>
                <h4 style="color:#303030;">VĂN MINH</h4>
                <p>Văn minh lịch sự với khách hàng</p>
            </div>
        </div>
    </div>
    <!-- Container (Portfolio Section) -->

    <section id="hot-hotels" class="hot-hotels padding-tb-100px background-light-grey">
        <div class="container">
            <div class="section-title section-title-center">
                <h1 class="title" style="color: #F44336;"><span style="color: #1db8c1">Hot</span> Tours</h1>
                <span class="section-title-des">Những tour du lịch hot nhất hiện nay</span>
            </div>

            <div class="row slideanim">
                @{
                    foreach (var item in ViewBag.tourNoiBat)
                    {
                        <div class=" col-md-3 col-sm-6 col-lg-3 sm-mb-30px block-tour-item">
                            <div class="hotel-grid background-white border border-grey-1">
                                <div class="hotel-img">
                                    @{
                                        var hinhanh = "";
                                        if (item.hinhanh != null)
                                        {
                                            hinhanh = item.hinhanh;
                                        }
                                    }
                                    <img src="@hinhanh" onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@item.ten">
                                </div>
                                <div class="rating">
                                    <ul>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>

                                    </ul>
                                </div>
                                <div class="padding-20px">
                                    <div class="block-ten-tour">
                                        <h3 class="text-uppercase text-medium text-center">
                                            <a href="~/Tours/Detail/@item.id" class="text-dark"
                                               style="text-decoration: none;">@item.ten</a>
                                        </h3>
                                    </div>
                                    <div class="block-content--tour">
                                        <div class="block-content--tour-dia-diem">
                                            <small class="text-uppercase text-extra-small">
                                                <a href="~/Tours/Detail/@item.id" class="text-grey-4" style="text-decoration: none;">
                                                    <i class="fa fa-map-marker margin-right-5px fa-2x" style="color:  orangered"></i>
                                                    <span class="text-third-color margin-right-5px">@item.diadiem.ten</span>
                                                </a>
                                            </small>
                                        </div>
                                        
                                        <br>
                                        <div class="d-block padding-tb-8px text-grey-2 block-tomtat-tour">
                                            @item.tomtat
                                        </div>
                                    </div>
                                    
                                    <div class="margin-bottom-8px text-uppercase text-extra-small text-center">
                                        @*<strong class="text-medium text-third-color padding-right-5px font-weight-bold">
                                            @string.Format("{0:n0}", item.gia) VND
                                        </strong>*@
                                        <div class="pricer fixed-price-height text-medium">
                                            @{
                                                if (item.giamgia != 0)
                                                {

                                                    <strong class="price vcolor-info price-gianiemyet">@string.Format("{0:n0}", item.gia) VND</strong><br />
                                                    <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", item.gia - (item.gia * item.giamgia / 100)) VND</strong>
                                                }
                                                else
                                                {
                                                    <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", item.gia) VND</strong><br />
                                                }
                                            }
                                        </div>
                                    </div>
                                    
                                    <a href="@Url.Action("Detail", "Tours", new { id = @item.id })"
                                       class="btn-sm  btn-block background-main-color text-white text-center  text-uppercase "
                                       style="text-decoration: none;">Đăt Tour</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </section>

    @Html.Partial("_Footer")


</div>

