﻿body {
    margin:0;
    padding:0;
}
.LoginBackground {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family:Arial;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family:Arial;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight:bold;
  color:white;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button:hover,.form button:active,.form button:focus {
  background: #b3b3b3;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.checkbox input[type=checkbox].check-box {
    margin-left: 0;
}
#page-wrapper{
    margin-top: 50px;
    height: calc(100vh - 60px);
}
.container-fluid{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
._hidden{
    display: none!important;
}

.hinhthuctt{
    padding: 4px;
}
.hinhthuctt.tructiep{
    background-color: yellow;
}

.hinhthuctt.tainha{
    background-color: sandybrown;
}

.hinhthuctt.chuyenkhoan{
    background-color: peachpuff;
}

.tinhtrangdh{
    padding: 4px;
    font-weight: bold;
}
.tinhtrangdh.moi{
    color: #1b8477;
}

.tinhtrangdh.dangxuly{
    color: #f68c32;
}

.tinhtrangdh.hoanthanh{
    color: #42ed07;
}

.tinhtrangdh.dahuy{
    color: red;
}

.block-dashboard{
    padding: 0;
    margin: 15px;
}

.block-detail{
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-align:center;
    height: 120px;
    padding-top: 30px;
}


.block-detail p:nth-child(1){
    font-size: 16px;
    height: 30px;
}

.block-detail p:nth-child(2){
    font-size: 18px;
    height: 50px;
}

.dukien{
    background: #00a8ff;
}

.donchot{
    background: #46c35f;
}

.donhuy{
    background: #da454a;
}
.block-timkiem{
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.timkiem{

}

.timkiem input{
    width: 100%;
}

.timkiem p{
    font-size: 15px;
}

.select-ngay{
    width: 100px;
    padding: 5px;
    background: #eaeaea;
    border-radius: 5px;
}

#don-hang-moi{
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.side-nav>li>ul>li>a{
    padding: 10px 10px 10px 25px;
}
