﻿@model QTwebdulich.Models.diadiem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>diadiem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt class="_hidden">
            @Html.DisplayNameFor(model => model.daxoa)
        </dt>

        <dd class="_hidden">
            @Html.DisplayFor(model => model.daxoa)
        </dd>

        <dt>
            Ngày Tọa Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            Ngày Cập Nhật Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taikhoan.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
