﻿
<footer style="margin-top: -20px">

    <div class="container">

        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-content">
                    <h4> Dịch Vụ</h4>
                    <hr>

                    <span> Tour trong nước</span> <br>
                    <span> Vé Máy Bay</span> <br>
                    <span> Thuê Xe</span> <br>

                </div>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-content">
                    <h4> Thông Tin</h4>
                    <hr>

                    <span> Tuyến Điểm</span><br>
                    <span> Tin Tức</span><br>
                    <span> Cẩm nang Du Lịch</span><br>
                    <span> Tin Du Lịch</span>


                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-content">
                    <h4> Chăm sóc khách hàng</h4>
                    <hr>
                    <span> Phiếu Góp Ý</span><br>
                    <span> Ý Kiến Khách Hàng</span><br>
                    <span> Hướng Dẫn Thanh Toán</span><br>
                    <span> Điều Khoản Chung</span>


                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-content">
                    <h4> Liên Hệ</h4>
                    <hr>
                    <span> Giới Thiệu QuangTungTour</span><br>
                    <span> Phone: 0985708579</span><br>
                    <span> Mail:tranquangtung9889@gmail.com</span><br>
                    <span> Địa Chỉ : 236B Đường Lê Văn Sỹ, Phường 1, Tân Bình, Hồ Chí Minh</span>


                </div>
            </div>

        </div>
    </div>


</footer>

<footer class="container-fluid text-center " style="padding: 10px">
    <a href="#myPage" title="To Top">
        <span class="fa fa-arrow-circle-up fa-2x  faa-bounce animated-hover " style="color: black;"></span>
    </a>
    <p>Trần Quang Tùng 04_CNTT_03</p>
</footer>
