﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuangTungTour</title>

    <!--css-->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/Assets/css/index.css" />
    <link rel="stylesheet" href="~/Assets/css/danhgia.css">
    <link rel="stylesheet" href="~/Assets/css/signup.css">
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    
    
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Assets/fontawesome/fontawesome-amination.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/lienhe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/jquery/hieuung.js"></script>
    <script src="~/Assets/jquery/placeholderTypewriter.js"></script>
    <script src="~/Assets/js/login.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/index.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body id="myPage">
    @RenderBody()
</body>
</html>
