﻿<nav>
    <div class="container-fluid">


        <div id="left-nav">
            <ul style="list-style-type: none">
                <li class="left-nav-city">
                    <a href="/" class="txt-name-location menu-label">  
                        <span class="txt-name-location">HOME </span>
                    </a>
                </li>
                <li class="left-nav-city">
                    <a href="@Url.Action("Index", "Tours")" class="txt-name-location menu-label">
                        <span class="txt-name-location">TOUR </span>
                    </a>
              
                </li>
                <li class="left-nav-city">
                    <a href="@Url.Action("Contact", "Home")" id="lh"> 
                     <span class="txt-name-location menu-label">LIÊN HỆ </span></a>
                </li>
                @{
                    var session_user = Session["ClientUser"];
                    if (session_user != null)
                    {
                        <li class="left-nav-city">
                            <a href="~/Customer">
                                <span class="txt-name-location menu-label">THÔNG TIN CÁ NHÂN </span>
                            </a>
                        </li>
                        <li class="left-nav-city">
                            <a href="@Url.Action("Logout", "Customer")">
                                <span class="txt-name-location menu-label">ĐĂNG XUẤT</span>
                            </a>
                        </li>
                        <li style="float:left">
                            <span class="block-hello-user">Xin chào, @Session["ClientUserName"]</span>
                        </li>
                    }
                    else
                    {
                        <li class="left-nav-city">
                            <a href="@Url.Action("Login", "Customer")">
                                <span class="txt-name-location menu-label">ĐĂNG NHẬP</span>
                            </a>
                        </li>
                    }
                }
                
            </ul>
        </div>
    </div>
</nav>

