﻿@using (Html.BeginForm("SearchForm", "Shared"))
{
    <div id="search_form">
        <form action="#" method="get" style="position: absolute; padding: 15px">
            <div id="search-locations">
                <h3 style="color: white"> Bạn muốn đi du lịch ở đâu ?</h3>
                <input class="form-control biginput" name="tentour" id="autocomplete" type="search"
                       required placeholder=""
                       style="height:45px;width: 139%; font-size: 18px;">
            </div>
            <script>
                /* Placeholder Typewriter */
                var placeholderText = [
                    "Bãi Biển Nha Trang ?",
                    "Đảo Hòn Tằm ?",
                    "Vinpearl Land ?",
                    "Đảo Hòn Mun ?",
                    "Vịnh Ninh Vân ?",
                    "Vịnh Vân Phong?",
                    "Bãi Biển Đại Lãnh?",
                    "Chợ Đầm Nha Trang?"
                ];
                $('#autocomplete').placeholderTypewriter({ text: placeholderText });
            </script>
            <div style="margin: auto; text-align: center">
                <button type="submit" class="btn mybtn-style1" id="booking_form_search"
                        style="background: #2196f3">
                    TÌM KIẾM
                </button>
            </div>
        </form>
    </div>
}