﻿
<a href="@Url.Action("Index", "ChiTietDatTours" ,new { Area = "Admin" })">
    Danh sách đơn hàng 
    @{
        if (Session["demdonhangmoi"] != null)
        {
            <span id="don-hang-moi">(Mới @Session["demdonhangmoi"])</span>
        }
    }
</a>