﻿<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<script src="~/Assets/js/login.js"></script>
<link rel="stylesheet" href="~/Assets/css/dattour.css">


<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }
    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">

        @Html.Partial("_Menu")

        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Tour Du Lịch Hấp Dẫn Đến Nha Trang</br>

                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>


        </div>
    </div>
    <div class="container touristdetail ">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 ">
                <div class="content">
                    @{ if (ViewBag.tour.giamgia != 0)
                        {
                            <div class="ribbonContainerInner">
                                <span class="v-ribbon"><h1 class="ribbon">Giảm @ViewBag.tour.giamgia %</h1></span>
                            </div>
                        } }

                    <figure>
                        <div class="hoverimg">
                            @{
                                var hinhanh = "";
                                if (ViewBag.tour.hinhanh != null)
                                {
                                    hinhanh = ViewBag.tour.hinhanh;
                                }
                            }
                            <img class="img-responsive" src="@hinhanh"
                                 onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@ViewBag.tour.ten">

                        </div>
                    </figure>
                    <div class="cardItemPriceDivOuter">
                        <div class="cardItemPriceDivInner">
                            <span class="cardItemPriceAfterDiscount"><i class="fa fa-map-marker "></i> @ViewBag.tour.diadiem.ten</span>
                        </div>
                    </div>
                    <div class="tour-detail">
                        <div class="tour-title">
                            <span class="cardItemTourName">@ViewBag.tour.ten</span>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 time">
                                <span>
                                    <i class="fa fa-clock fa-2x" data-toggle="tooltip"
                                       title="Ngày khởi hành"></i> <b>@ViewBag.tour.thoigian.ToString("dd-MM-yyyy")</b>
                                </span>

                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 transportDiv">
                                <b>Phương Tiện :</b>

                                @{
                                    if (ViewBag.tour.phuongtien.id == 1)
                                    {
                                        <i class="fa fa-plane fa-2x" data-toggle="tooltip" title="Di chuyển bằng Máy bay"
                                           style="margin: 5px"></i>
                                    }

                                    if (ViewBag.tour.phuongtien.id == 2)
                                    {
                                        <i class="fa fa-bus fa-2x" data-toggle="tooltip"
                                           title="Di chuyển bằng Ô tô"></i>
                                    }
                                }
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center" style="margin-top: 12px">
                                <span>Mã Tour: <b>@ViewBag.tour.matour</b></span>
                            </div>
                        </div>
                        <div class="v-margin-bottom-5 cardItemDepartDiv cardItemDepartDiv-custom">
                            @ViewBag.tour.tomtat
                        </div>

                    </div>
                    <div>
                    </div>
                    <div class="contenttour" style="background-color: white">
                        <div class="content-detail">
                            @Html.Raw(ViewBag.tour.chitiet)
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">

                <div class="content-price block-dat-tour" style="background-color: unset">
                    <div class="price" id="gia" style="color:#000000">
                        GIÁ TOUR:
                        <div class="pricer fixed-price-height">
                            @{
                                if (ViewBag.tour.giamgia != 0)
                                {

                                    <span class="price vcolor-info price-gianiemyet">@string.Format("{0:n0}", ViewBag.tour.gia) VND</span><br />
                                    <span class="price vcolor-info price-giaban">@string.Format("{0:n0}", ViewBag.tour.gia - (ViewBag.tour.gia * ViewBag.tour.giamgia / 100)) VND</span>
                                }
                                else
                                {
                                    <span class="price vcolor-info price-giaban">@string.Format("{0:n0}", ViewBag.tour.gia) VND</span><br />
                                }
                            }
                        </div>
                    </div>
                    <a id="button-dattour" href="@Url.Action("Index", "Purchase", new { tour = ViewBag.tour.id })">ĐẶT TOUR</a>
                    <div class="sidebar-tour-noi-bat">
                        <div class="block-tour-noi-bat">
                            <h3>Một số tour nổi bật</h3>
                            @{

                                foreach (var item in ViewBag.tourNoiBat)
                                {
                                        var hinhanhtournoibat = "";
                                        if (item.hinhanh != null)
                                        {
                                            hinhanhtournoibat = item.hinhanh;
                                        }
                                        <div class="item-tour-noi-bat">
                                            <div class="img-item-tour-noi-bat">
                                                <img src="@hinhanhtournoibat" onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@item.ten">
                                            </div>
                                            <div class="ten-item-tour-noi-bat">
                                                <h3 class="text-uppercase text-medium text-center" style="margin-top:5px;margin-bottom:15px;">
                                                    <a href="~/Tours/Detail/@item.id" class="text-dark" style="text-decoration: none;font-size: 15px;">@item.ten</a>
                                                </h3>
                                            </div>
                                        </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hotel">
        <div class="container">

        </div>
    </div>
    &nbsp;

    @Html.Partial("_Footer")
</div>
