﻿<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

<link rel="stylesheet" href="~/Assets/css/tourist.css">


<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }
    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">

        @Html.Partial("_Menu")

        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Tour Du Lịch Hấp Dẫn Đến Nha Trang</br>

                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>


        </div>
    </div>
    <div class="container showtourist ">
        <div class="line">
            <h2 class="lined-heading"><span><span style="color: #1db8c1">Hot</span>Tours</span></h2>
        </div>
        <div class="row slideanim" style="margin: 20px 0 20px 0">

            @{
                foreach (var item in ViewBag.tourNoiBat)
                {
                    <div class=" col-md-3 col-sm-6 col-lg-3 sm-mb-30px block-tour-item">
                        <div class="hotel-grid background-white border border-grey-1">
                            <div class="hotel-img">
                                @{
                                    var hinhanh = "";
                                    if (item.hinhanh != null)
                                    {
                                        hinhanh = item.hinhanh;
                                    }
                                }
                                <img src="@hinhanh" onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@item.ten">
                            </div>
                            <div class="rating">
                                <ul>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>

                                </ul>
                            </div>
                            <div class="padding-20px">
                                <div class="block-ten-tour">
                                    <h3 class="text-uppercase text-medium text-center">
                                        <a href="~/Tours/Detail/@item.id" class="text-dark"
                                           style="text-decoration: none;">@item.ten</a>
                                    </h3>
                                </div>
                                <div class="block-content--tour">
                                    <div class="block-content--tour-dia-diem">
                                        <small class="text-uppercase text-extra-small">
                                            <a href="~/Tours/Detail/@item.id" class="text-grey-4" style="text-decoration: none;">
                                                <i class="fa fa-map-marker margin-right-5px fa-2x" style="color:  orangered"></i>
                                                <span class="text-third-color margin-right-5px">@item.diadiem.ten</span>
                                            </a>
                                        </small>
                                    </div>

                                    <br>
                                    <div class="d-block padding-tb-8px text-grey-2 block-tomtat-tour">
                                        @item.tomtat
                                    </div>
                                </div>

                                <div class="margin-bottom-8px text-uppercase text-extra-small text-center">
                                    <div class="pricer fixed-price-height text-medium">
                                        @{
                                            if (item.giamgia != 0)
                                            {

                                                <strong class="price vcolor-info price-gianiemyet">@string.Format("{0:n0}", item.gia) VND</strong><br />
                                                    <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", item.gia - (item.gia * item.giamgia / 100)) VND</strong>
                                            }
                                            else
                                            {
                                                <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", item.gia) VND</strong><br />
                                            }
                                        }
                                    </div>
                                </div>

                                <a href="@Url.Action("Detail", "Tours", new { id = @item.id })"
                                   class="btn-sm  btn-block background-main-color text-white text-center  text-uppercase "
                                   style="text-decoration: none;">Đăt Tour</a>
                            </div>
                        </div>
                    </div>
                                            }
            }
        </div>

        <div class="line">
            <h2 class="lined-heading"><span><span style="color: #1db8c1">Tất cả</span>Tours</span></h2>
            <div class="row slideanim" style="margin: 20px 0 20px 0">
                @{
                    foreach (var itemtoursThuong in ViewBag.toursThuong)
                    {
                        <div class=" col-md-3 col-sm-6 col-lg-3 sm-mb-30px block-tour-itemtoursThuong">
                            <div class="hotel-grid background-white border border-grey-1">
                                <div class="hotel-img">
                                    @{
                                        var hinhanhtourThuong = "";
                                        if (itemtoursThuong.hinhanh != null)
                                        {
                                            hinhanhtourThuong = itemtoursThuong.hinhanh;
                                        }
                                    }
                                    <img src="@hinhanhtourThuong" onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@itemtoursThuong.ten">
                                </div>
                                <div class="rating">
                                    <ul>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>

                                    </ul>
                                </div>
                                <div class="padding-20px">
                                    <div class="block-ten-tour">
                                        <h3 class="text-uppercase text-medium text-center">
                                            <a href="~/Tours/Detail/@itemtoursThuong.id" class="text-dark"
                                               style="text-decoration: none;">@itemtoursThuong.ten</a>
                                        </h3>
                                    </div>
                                    <div class="block-content--tour">
                                        <div class="block-content--tour-dia-diem">
                                            <small class="text-uppercase text-extra-small">
                                                <a href="~/Tours/Detail/@itemtoursThuong.id" class="text-grey-4" style="text-decoration: none;">
                                                    <i class="fa fa-map-marker margin-right-5px fa-2x" style="color:  orangered"></i>
                                                    <span class="text-third-color margin-right-5px">@itemtoursThuong.diadiem.ten</span>
                                                </a>
                                            </small>
                                        </div>

                                        <br>
                                        <div class="d-block padding-tb-8px text-grey-2 block-tomtat-tour">
                                            @itemtoursThuong.tomtat
                                        </div>
                                    </div>

                                    <div class="margin-bottom-8px text-uppercase text-extra-small text-center">
                                        <div class="pricer fixed-price-height text-medium">
                                            @{
                                                if (itemtoursThuong.giamgia != 0)
                                                {

                                                    <strong class="price vcolor-info price-gianiemyet">@string.Format("{0:n0}", itemtoursThuong.gia) VND</strong><br />
                                                    <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", itemtoursThuong.gia - (itemtoursThuong.gia * itemtoursThuong.giamgia / 100)) VND</strong>
                                                }
                                                else
                                                {
                                                    <strong class="price vcolor-info price-giaban">@string.Format("{0:n0}", itemtoursThuong.gia) VND</strong><br />
                                                }
                                            }
                                        </div>
                                    </div>

                                    <a href="@Url.Action("Detail", "Tours", new { id = @itemtoursThuong.id })"
                                       class="btn-sm  btn-block background-main-color text-white text-center  text-uppercase "
                                       style="text-decoration: none;">Đặt Tour</a>
                                </div>
                            </div>
                        </div>
                                                }
                }
            </div>
        </div>
    </div>
    <div id="hotel">
        <div class="container">

        </div>
    </div>
    &nbsp;
    @Html.Partial("_Footer")
</div>