﻿@model QTwebdulich.Models.khachhang

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>


<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != null && ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }

    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Tour Du Lịch Hấp Dẫn Đến Nha Trang


                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>


        </div>
    </div>


</div>

<div class="container-fluid lienhe">
    <div class="row" style="margin: 20px 0 20px 0">

        <div class="col-md-3 col-sm-3 col-xs-12 " style="margin-bottom: 20px">
            <ul class="menu-customer">
                <li class="active">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="~/Customer"> Thông tin tài khoản</a>
                </li>
                <li>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <a href="~/Customer/Order">Đơn hàng của tôi</a>
                </li>
                <li>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <a href="~/Customer/ChangePassword">Đổi mật khẩu</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 " style="margin-bottom: 20px">

            @using (Html.BeginForm("Update", "Customer", FormMethod.Post, new { id = "thongtinkhachhang" }))
            {
                <form action="" id="" class="thong-tin-tai-khoan">
                    <label> Họ và Tên </label><br>
                    <input  type="text" name="ten" required value="@Html.DisplayFor(model => model.ten)">
                    <br>
                    <label>Email</label><br>
                    <input disabled type="email" name="email" value="@Html.DisplayFor(model => model.email)"> <br>
                    <label> Số Điện Thoại</label><br>
                    <input type="text" name="dienthoai" required value="@Html.DisplayFor(model => model.dienthoai)"> <br>
                    <br />
                    <div style="width: 100%; text-align: center;">
                        <button style="width: 200px" type="submit">Cập nhật</button>
                    </div>
                </form>
            }

        </div>
    </div>
</div>


@Html.Partial("_Footer")

</div>