﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="video-background">
    <video autoplay muted loop>
        <source src="~/Assets/video/video-background.mp4" type="video/mp4">
    </video>
</div>

<div id="id01" class="modal">
    <div class="modal-content animate">

        <i class="fa fa-times close-model" onclick="document.getElementById('id01').style.display='none';" aria-label="Close"></i>
        <div class="nd-login-cols panel-login">
            <div class="nd-login-left">
                <div class="nd-ll-inner">
                    <h2>Welcome!</h2>
                    <div class="ll-bottom">
                    </div>
                </div>
                <div class="nd-ll-overlay"></div>
            </div>
            <div class="nd-login-right">
                <div class="nd-login-box">
                    @using (Html.BeginForm())
                    {
                        <form>
                            <h2 class="nd-title">Đăng nhập vào tài khoản</h2>
                            <div class="lg-field signup-email">
                                <i class="fa fa-user"></i>
                                <input type="text" class="lg-text" name="username" placeholder="Username" autocomplete="off" required="" id="user">
                            </div>
                            <div class="lg-field signup-email">
                                <i class="fa fa-lock"></i>
                                <input type="password" placeholder="Password" class="lg-text" name="password" autocomplete="off" required="" id="pass">
                            </div>

                            <div class="lg-field lg-field-control">
                                <input type="hidden" name="continue" value="">
                                <input type="hidden" name="display" value="">
                                <button type="submit">Đăng nhập</button>
                                <div style="text-align: center;margin: 10px;">hoặc</div>
                                <a href="@Url.Action("Register", "Customer")" class="nut-dang-ky-dang-nhap">Đăng ký</a>
                            </div>
                        </form>
                    }
                </div>
            </div>

        </div>
    </div>

</div>

