﻿@model IEnumerable<QTwebdulich.Models.chitietdattour>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != null && ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }

    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    Tour Du Lịch Hấp Dẫn Đến Nha Trang


                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>


        </div>
    </div>
</div>
<div class="container-fluid lienhe">
    <div class="row" style="margin: 20px 0 20px 0">

        <div class="col-md-3 col-sm-3 col-xs-12 " style="margin-bottom: 20px">
            <ul class="menu-customer">
                <li><i class="fa fa-user" aria-hidden="true"></i>
                    <a href="~/Customer"> Thông tin tài khoản</a>
                </li>
                <li class="active"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <a href="~/Customer/Order">Đơn hàng của tôi</a>
                </li>
                <li>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <a href="~/Customer/ChangePassword">Đổi mật khẩu</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 " style="margin-bottom: 20px">
            <table class="table" id="table_order">
                <thead>
                    <tr>
                        <th>
                            Mã tour
                        </th>
                        <th>
                            Tên Tour
                        </th>
                        <th>
                            Yêu Cầu
                        </th>
                        <th>
                            Hình Thức Thanh Toán
                        </th>
                        <th>
                            Giá Tiền
                        </th>
                        <th>
                            Giảm Giá
                        </th>
                        <th>
                            Tình Trạng Đơn Hàng
                        </th>
                        <th>Ngày đặt</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.matour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tour.ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.yeucau)
                            </td>
                            <td>
                                @{
                                    if (item.hinhthucthanhtoan == 1)
                                    {
                                        <span class="hinhthuctt tructiep">Thanh toán trực tiếp</span>
                                    }

                                    if (item.hinhthucthanhtoan == 2)
                                    {
                                        <span class="hinhthuctt tainha">Thu tại nhà</span>
                                    }

                                    if (item.hinhthucthanhtoan == 3)
                                    {
                                        <span class="hinhthuctt chuyenkhoan">Chuyển khoản</span>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.giatien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.giamgia)
                            </td>
                            <td>
                                @{
                                    if (item.tinhtrangdonhang == 1)
                                    {
                                        <span class="tinhtrangdh moi">Đơn hàng mới</span>
                                    }

                                    if (item.tinhtrangdonhang == 2)
                                    {
                                        <span class="tinhtrangdh dangxuly">Đang xử lý</span>
                                    }

                                    if (item.tinhtrangdonhang == 3)
                                    {
                                        <span class="tinhtrangdh hoanthanh">Hoàn thành</span>
                                    }

                                    if (item.tinhtrangdonhang == 4)
                                    {
                                        <span class="tinhtrangdh dahuy">Đã hủy</span>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngaytao)
                            </td>
                            
                            <td>
                               @{
                                   if (item.tinhtrangdonhang != 4)
                                   {
                                    @Html.ActionLink("Hủy", "Cancel", new { id = item.id })
                                   }
                            } 
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@Html.Partial("_Footer")

</div>

<script>
    $(document).ready(function () {
        var table = $('#table_order').DataTable({
            "bSort": false
        });
        $("#table_order_filter input").attr("placeholder", "Tìm mã tour");
        $('#table_order_filter input').on('keyup click', function () {
            table.columns(0).search(this.value).draw();
        });
    });
</script>