﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="video-background">
    <video autoplay muted loop>
        <source src="~/Assets/video/video-background.mp4" type="video/mp4">
    </video>
</div>

<div id="id01" style="padding: 0;" class="modal">
    <div class="modal-content animate">
        <i class="fa fa-times close-model" onclick="document.getElementById('id01').style.display='none';" aria-label="Close"></i>
        <div class="nd-login-cols panel-login">
            <div class="nd-login-left">
                <div class="nd-ll-inner">
                    <h2>Đăng ký tài khoản</h2>
                    <div class="ll-bottom">
                    </div>
                </div>
                <div class="nd-ll-overlay"></div>
            </div>
            <div class="nd-login-right form-dang-ky">
                <div class="nd-login-box" style="padding-bottom: 10px">
                    @using (Html.BeginForm())
                    {
                        <form class="login-form">

                            <div class="lg-field">
                                <span>Họ tên</span>
                                <input type="text" class="lg-text" name="ten" placeholder="Họ tên" autocomplete="off" required="" />
                            </div>
                            <div class="lg-field">
                                <span>Điện thoại</span>
                                <input type="text" pattern="(0)+([0-9]{9})\b" class="lg-text" name="dienthoai" placeholder="Điện thoại" autocomplete="off" required="" />
                            </div>
                            <div class="lg-field">
                                <span>Email</span>
                                <input type="email" class="lg-text" name="email" placeholder="Email" autocomplete="off" required="" />
                            </div>
                            <div class="lg-field">
                                <span>Tên đăng nhập</span>
                                <input type="text" class="lg-text" name="username" placeholder="Tên đăng nhập" autocomplete="off" required="" />
                            </div>
                            <div class="lg-field">
                                <span>Mật khẩu</span>
                                <input type="password" placeholder="Mật khẩu" class="lg-text" name="password" autocomplete="off" required="" />
                            </div>
                            <div class="lg-field lg-field-control">
                                <input type="hidden" name="continue" value="">
                                <input type="hidden" name="display" value="">
                                @{
                                    if (ViewBag.foundUserName != null)
                                    {
                                        <h5 style="color: red">@ViewBag.foundUserName</h5>

                                    }
                                }
                                @{
                                    if (ViewBag.foundEmail != null)
                                    {
                                        <h5 style="color: red">@ViewBag.foundEmail</h5>

                                    }
                                }
                                @{
                                    if (ViewBag.foundSdt != null)
                                    {
                                        <h5 style="color: red">@ViewBag.foundSdt</h5>

                                    }
                                }
                                <button type="submit" data-target="login" class="nut-dang-ky-dang-nhap">Xác nhận</button>
                                <a href="@Url.Action("Login", "Customer")" class="tro-ve-dang-nhap">Quay lại đăng nhập</a>
                            </div>
                        </form>
                    }

                    
                </div>
            </div>
        </div>
    </div>

</div>



