﻿@model IEnumerable<QTwebdulich.Models.banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { loai = Request.Params["loai"] })
</p>
<table class="table">
    <tr>
        <th>
            Tên Banner
        </th>
        <th>
            Ngày Tạo Banner
        </th>
        <th>
            Ngày Cập Nhật Banner
        </th>
        <th>
            Ngày Xóa
        </th>
        <th>
            Active
        </th>
        <th>
           Hình Ảnh
        </th>
        <th>
            Loại Banner
        </th>
        <th>
            Username
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daxoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taikhoan.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id, loai = Request.Params["loai"] }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id, loai = Request.Params["loai"] })
        </td>
    </tr>
}

</table>
