﻿.menu-label {
    color: #000000;
    display: block;
}

.menu-label:hover {
    color: #000000;
}

.block-tomtat-tour {
    height: 170px;
}

.block-ten-tour {
    height: 80px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.block-ten-tour h3 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 13px;
}

.block-content--tour-dia-diem {
    height: 40px;
}

.hotel-img img{
    height: 100%;
}

.hotel-img{
    height: 160px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-grid .rating{
    margin-top: 15px;
}

.block-tour-item{
    margin-bottom: 25px;
}

.pricer.detail-link.custom-detail-link{
    background: none;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    font-size: 13px;
}

.tour-title{
    height: 45px;
}

.custom-item-img-tour{
    height: 200px;
}

.hoverimg{
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.hoverimg .img-responsive {
    height: 100%;
    width: 100%;
}

.block-tour-item1{
    margin-bottom: 15px;
}

.cardItemDepartDiv{
    height: 170px;
}

.cardItemDepartDiv.cardItemDepartDiv-custom {
    height: auto;
}

.block-dat-tour{
    text-align: center;
}

#button-dattour {
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    background-color: #dd151e;
    border: 5px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    display: block;
}

.fixed-price-height{
    height: 60px;
    margin-bottom: 10px;
}

.fixed-price-height .price-gianiemyet{
    text-decoration: line-through;
    color: #2863dd;
    font-size: 18px;
    font-weight: bold;
}

.fixed-price-height .price-giaban{
    color: #F44336;
    font-size: 22px;
    font-weight: bold;
}

#id01 {
    display: block;
    background-color: unset;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.nd-login-cols {
    min-height: unset;
}

.nut-dang-ky-dang-nhap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
    outline: 0;
    background-color: #0099fe;
    color: #fff;
    font-size: 14px;
    outline: 0;
    border: none;
    height: 40px;
    background-color: #fe000c;
    cursor: pointer;
}

a.nut-dang-ky-dang-nhap:hover {
    color: #fff;
    text-decoration: none;
    }

a.tro-ve-dang-nhap
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
    outline: 0;
    font-size: 14px;
    outline: 0;
    border: none;
    height: 40px;
    cursor: pointer;
}

a.tro-ve-dang-nhap:hover {
    text-decoration: none;
    }

.form-dang-ky .lg-field input.lg-text {
    padding: 0 10px 0 15px; 
}

.block-hello-user {
    font-weight: bold;
    color: #000;
    background: #fff;
    border-radius: 15px;
    margin-left: 15px;
    padding: 5px 10px;
}

.video-background{
    width: 100%;
    height: 100%;
    position: fixed;
}

.menu-customer{
    list-style-type: none;
    padding: 0;
    border-right: 1px solid #25b2dd;
    padding-left: 25px;
    height: 100%;
}

.menu-customer .active{
    font-weight: bold;
}

.menu-customer li a{
    text-decoration: none;
    color: #565656;
    font-size: 15px;
    text-decoration: none;
}

..menu-customer li a:hover{
    color: #565656;
}

.menu-customer li i {
    margin-right: 10px;
    margin-bottom: 15px;
}

.thong-tin-tai-khoan{
    width: 400px;
    margin: auto;
}

.thong-tin-tai-khoan button {
    color: white;
    background-color: #dd151e;
    padding: 5px;
    border-radius: 3px;
    border: 1px #dd151e solid;
}

#table_order th, td{
    width: 300px!important;   
}

#src_order {
    border-radius: 5px;
    border: 1px solid #000;
    width: 300px;
    padding: 5px;
    margin: 10px 5px;
}

#thongtinkhachhang{
    width: 400px;
    margin: 0 auto;
}

#thongtinkhachhang input{
    width: 100%;
    padding: 5px;
    margin: 5px;
}

#thongtinkhachhang button {
    color: white;
    background-color: #dd151e;
    padding: 5px;
    border-radius: 3px;
    border: 1px #dd151e solid;
}

#search_form {
    height: 218px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 20px;
}

#booking_form_search{
    width: 200px!important;
}

#search_form form{
    width: 100%!important;
}

#search_form #autocomplete{
    width: 100%!important;
}

.sidebar-tour-noi-bat {
    margin-top: 50px;
    border-top: 1px dashed black;
    padding-top: 10px;
}
