
.rating ul li.active {
    background: #fff url(../img/homepage/star_1.png);
}
.rating ul li {
    display: inline-block;
    background:url(../img/homepage/star_0.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    margin-left: 5px;
}
