#search_form {
    height: 218px;
    border-radius: 5px;
    border: 1px solid white;
}

#booking_form_search {

    width: 138%;
    height: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.ribbonContainerInner {
    padding: 5px 15px 3px 15px;
    font-size: 13px;
}

@media only screen and (min-width: 320px) {
    .v-ribbon h1, .v-ribbon span {
        padding: 5px 10px 5px 20px;
    }
}

.v-ribbon h1, .v-ribbon span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: absolute;
    color: #fff;
    margin: 10px 0 0 -26px;
    background-color: #e52822;
    top: 48px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .24);
}

.v-ribbon h1 {
    padding: 8px 45px 5px 45px;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 1px;
    border-top: 10px solid #9c0000;
    border-left: 10px solid transparent;

}

.cardItemPriceDivOuter {

    position: relative;
    bottom: 33px;
    left: 0;
}

.cardItemPriceDivOuter > .cardItemPriceDivInner {
    background: rgba(0, 70, 126, .8);
    position: absolute;
    padding: 5px 15px 3px 15px;
    font-size: 14px;
    color: #4e4e4e;
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
}

.cardItemPriceDivOuter > .cardItemPriceDivInner > .cardItemPriceAfterDiscount {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.tour-title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tour-detail {

    transition: all .2s linear;
    color: #4e4e4e;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #e4e4e6;
}

.tour-title > .cardItemTourName {

    color: #003c71;
    font-size: 16px;
    font-weight: bold;
}

.tour-detail .row .col-md-4 {
    width: 32%;
}

.transportDiv > .fa-plane {
    margin: 5px;
}

.time > span > .fa-clock {
    margin: 5px;
}

span > .fa-calendar {
    margin: 5px;
}

.fa-2x {
    font-size: 19px;
}

.cardItemDepartDiv {
    min-height: 35px;
}

.v-margin-bottom-5 {
    margin: 5px;
}

.price {
    text-align: center;
    color: white;

    font-weight: 700;
    font-size: 22px;

}

.vcolor-info {
    color: #00c1de;
}

.content-detail {
    width: 95%;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    text-align: justify;
}

.content-price {
    background-color:#2196f3;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

input[type='date'] {
    background: url(../img/homepage/cal-icon.png) no-repeat scroll 6px 5px;
    padding-left: 38px;
    background-color: #ffffff;
}

#booktour {
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    background-color: #dd151e;
    border: 5px;
    border-radius: 5px;
    font-weight: 700;
    color: white;

}
#lh{
    color: white;
    text-decoration: none;
}
#lh:hover{
    color: black;
}