::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(220, 30, 40);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
* {
    margin: 0px;
}

#container {

    width: 100%;
    height: auto;
}

/*** NAVIGATION-BAR ***/
nav {
    position: relative;
    line-height: 40px;

}

nav {
    width: 58%;
    margin-left: 42%;
    z-index: 999;
    top: 9px;

}

nav > .container-fluid {
    width: 100%;
    margin: auto;
}

#left-nav {
    float: left;
    margin-left: 30px;
    color: white;
    transition: top 1s;
}

#left-nav ul {
    margin: 0px;
    padding: 0px;
}

.left-nav-city {
    float: left;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 12px;
}

.left-nav-city:hover {
    background-color: white;
    color: black;
    font-size: 14px;
    /*border-radius: 10px 10px 0 0;*/
}
.left-nav-city>.txt-name-location>.active {
    /*color: #FFFFFF;*/
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.left-nav-city>.txt-name-location>.active:hover {
    color: black;
    text-decoration: none;
}
.left-nav-city>.txt-name-location>.chuyendi {
    /*color: #FFFFFF;*/
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.left-nav-city>.txt-name-location>.chuyendi:hover {
    color: black;
    text-decoration: none;
}

.nav-ddnoibat{
    width: 21%;
    float: left;
    margin-left: 10px;
}

.tmp-left-nav {
    display: none;
    position: absolute;
    background-color: white;
    width: 89%;
    height: 370px;
    color: black;
    padding-top: 20px;
    z-index: 1000;
    left: 45px;
    border-right: 1px solid #edf0f3;
    border-bottom: 1px solid #edf0f3;
    -webkit-box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
}

.tmp-left-nav span {
    /* vi chi co' 1 the span => ko can class */
    color: rgb(220, 30, 40);
    font-weight: bold
}

.tmp-left-nav ul {
    margin-left: 10px;
}

.tmp-left-nav ul li {
    margin: 0;
    margin-top: -10px;
    padding-top: 0;
}

.left-nav-A-lastli, .left-nav-B-lastli, .left-nav-C-lastli {
    font-weight: bold;
    color: rgb(102, 105, 102);
}

.left-nav-city {
    /*color: #ffffff;*/
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.left-nav-city > .glyphicon-menu-down {
    transition: 0.5s ease-in-out;
}

.left-nav-city:hover > .glyphicon-menu-down {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

}

.tmp-left-nav li:hover {
    color: rgb(214, 57, 31);
}
@media only screen and (max-width: 631px){
    nav {
        position: relative;
        line-height: 40px;

    }

    nav {
        width: 100%;
        margin-left:1px;
        z-index: 999;
        top: 9px;

    }

    nav > .container-fluid {
        width: 87%;
        margin: auto;
    }

    #left-nav {

        margin-left: -23px;
        color: white;
        transition: top 1s;
    }

    #left-nav ul {
        margin: 0px;
        padding: 0px;
    }
    .nav-ddnoibat{
        width: 23%;
        float: left;

    }

    .left-nav-city {
        float: left;
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .left-nav-city:hover {
        background-color: white;
        color: black;
        border-radius: 10px 10px 0 0;
    }
    .left-nav-city>.txt-name-location>.active {
        /*color: #FFFFFF;*/
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
    .left-nav-city>.txt-name-location>.active:hover {
        color: black;
        text-decoration: none;
    }
    .left-nav-city>.txt-name-location>.chuyendi {
        /*color: #FFFFFF;*/
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
    .left-nav-city>.txt-name-location>.chuyendi:hover {
        color: black;
        text-decoration: none;
    }


    .tmp-left-nav {
        display: none;
        position: absolute;
        background-color: white;
        width: 101%;
        height: 370px;
        color: black;
        padding-top: 20px;
        z-index: 1000;
       left: 0px;
        border-right: 1px solid #edf0f3;
        border-bottom: 1px solid #edf0f3;
        -webkit-box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, 0.25);
    }

    .tmp-left-nav span {
        /* vi chi co' 1 the span => ko can class */
        color: rgb(220, 30, 40);
        font-weight: bold
    }

    .tmp-left-nav ul {
        margin-left: 10px;
    }

    .tmp-left-nav ul li {
        margin: 0;
        margin-top: -10px;
        padding-top: 0;
    }

    .left-nav-A-lastli, .left-nav-B-lastli, .left-nav-C-lastli {
        font-weight: bold;
        color: rgb(102, 105, 102);
    }

    .left-nav-city {
        /*color: #ffffff;*/
        color: #000;
        font-weight: bold;
        cursor: pointer;
    }

    .left-nav-city > .glyphicon-menu-down {
        transition: 0.5s ease-in-out;
    }

    .left-nav-city:hover > .glyphicon-menu-down {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);

    }

    .tmp-left-nav li:hover {
        color: rgb(214, 57, 31);
    }

}

/*** CENTER ***/
#center {
    height: 450px;
}

#booking {
    position: absolute;
    width: 460px;
    height: 400px;
    left: 120px;
}

#booking_slogan {
    font-size: 22px;
    font-weight: bold;
    height: 75px;
    text-align: center;
    color: white;
    font-family: Arial, "Times New Roman";
    text-shadow: 0 2px black;
    margin-top: 15px;
}

#search_form {
    height: 330px;

    border-radius: 5px;
    border: 1px solid white;
}

#search_form .borderless tbody tr td, #search_form .borderless tbody tr th, #search_form .borderless thead tr th {

    border: none;
}

#search_form input, #search_form select {
    height: 45px;
    /*width: con` tuy`*/
}

#search-locations img {

    cursor: pointer;
}

/*input[type='search'] {
    background: url(../img/homepage/MarkerFilled-1824.png) no-repeat scroll 5px 10px;

    padding-left: 30px;
    background-color: #ffffff;
}*/

input[type='date'] {
    background: url(../img/homepage/cal-icon.png) no-repeat scroll 5px 10px;
    padding-left: 35px;
    background-color: #ffffff;
}

#loaiphong-khac {
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#booking_form_search {
    /*width: 100%;*/
    width: 96%;
    height: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
}

button[type="submit"].mybtn-style1 {
    background: rgb(220, 30, 40);
    color: white;
}

button[type="submit"].mybtn-style1:hover {
    background: rgb(212, 18, 28);
}

#our_promise_title {
    font-weight: bold;
    font-size: 15px;
    line-height: 44px;
    margin-left: 50px;
}

.col-md-2 > p {
    line-height: 7px;
    font-size: 13px;
    text-align: left;

}

#mySidenav a {
    position: fixed;
    right: -60px;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    border: gainsboro dashed 1px;
    z-index: 1000;

}

#facebook {
    top: 238px;
    background-color: #ffffff;
    color: #436099;
}

#facebook:hover {
    background-color: #436099;
    color: #ffffff;

}

#twitter {
    top: 288px;
    background-color: #ffffff;
    color: #2aabd2;
}

#twitter:hover {

    background-color: #2aabd2;
    color: #ffffff;
}

#google {
    top: 338px;
    background-color: #ffffff;
    color: #dd4c39;
}

#google:hover {

    background-color: #dd4c39;
    color: #ffffff;
}

#youtube {
    top: 388px;
    background-color: #ffffff;
    color: red;
}

#youtube:hover {

    background-color: red;
    color: #ffffff;
}

.icon {
    float: left;
    margin-top: 3px;
}

figcaption {
    width: 50px;
    height: 100%;
    border: 1px #d4d4d4 solid;
    display: none;
}

/*footer*/

#promotion {
    padding-bottom: 50px;
    background-color: rgb(46, 45, 45);
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;

}

#promotion figure {
    cursor: pointer;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 210px;
    max-width: 550px;
    /* max-height: 360px; */
    max-height: 420px;
    width: 48%;
    /* width: 30%; */
    background: rgb(220, 30, 40);
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
}

#promotion_title {
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    font-family: "Arial", "Times New Romans";
    color: white;
    font-weight: bold;
    margin: 0 auto;
    font-size: 25px;
}

figure.effect-chico > figcaption {
    padding: 3em;
}

.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure {
    margin: 0;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 210px;
    max-width: 550px;
    max-height: 420px;
    width: 48%;
    background: rgb(220, 30, 40);
    text-align: center;

}

figure.effect-chico p {
    margin: 0 auto;
    max-width: 250px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h3 {
    font-weight: bold;
}



.grid figure h3,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

figure.effect-chico:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-chico figcaption {
    padding: 3em;
}

figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico p {
    margin: 0 auto;
    max-width: 250px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*hothotel*/

.padding-tb-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.background-light-grey {
    background-color: #ecf0f5;
}

section .section-title {
    text-align: center;
    margin-bottom: 60px;
}

section .section-title h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    color: #F44336;
}

section .section-title span.section-title-des {
    position: relative;
    display: block;
}

.row {

    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.border-grey-1 {
    border-color: #eeeded !important;
}

.background-white {
    background-color: #fff;
}

.hotel-grid .hotel-img {

    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.hotel-grid .rating {
    margin-top: -15px;
    position: relative;
    z-index: 2;
}

.rating ul {
    max-width: 160px;
    background-color: #FFF;
    padding: 5px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    box-shadow: 0 0 8px -1px #595959;
    text-align: center;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@media (min-width: 992px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {

        flex: 0 0 25%;
        max-width: 25%;
    }
}

.padding-20px {
    padding: 20px;
}

.text-medium {
    font-size: 16px;
    line-height: 23px;
}

.text-grey-4 {
    color: #424242;
}

.margin-right-5px {
    margin-right: 5px;
}

.text-third-color {
    color: #F44336;
}

.text-extra-small {
    font-size: 11px;
    line-height: 14px;
}

.margin-right-5px {
    margin-right: 5px;
}

.padding-tb-8px {
    padding-top: 8px;
    padding-bottom: 8px;
}

.text-grey-2 {
    color: #9E9E9E;
}

.margin-bottom-8px {
    margin-bottom: 8px;
}

.text-extra-small {
    font-size: 11px;
    line-height: 14px;
}

.text-white, .text-white a {
    color: #fff;
}

.background-main-color {
    background-color: #1db8c1;
    text-decoration: none;
}

.text-white, .text-white a {
    color: #fff;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: bold;
}

.hotel-grid:hover {

    box-shadow: gainsboro 1px 1px 1px 1px;

}

/*silde*/

h2 {
    font-size: 24px;

    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

#services {
    margin-top: 40px;
    margin-bottom: 40px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.logo-small {
    color: #dc1e28;
    font-size: 50px;
}

.slideanim, .slideanim1, .slideanim2, .slideanim3 {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

footer {
    background-color: #f9f9f9;
    color: black;
}

footer > .container > .row > .col-md-3 > .footer-content > span:hover {
    color: #1db8c1;
}

footer > .container > .row > .col-md-3 > .footer-content > hr {
    color: #1db8c1;
    height: 1px;
    width: 50%;

}
footer > .container > .row > .col-md-3 > .footer-content h4{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}
#lh{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
#lh:hover{
    color: #000;
    font-weight: bold;
}