

.close-model {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}
.nd-login-cols {
    min-height: 405px;

    padding: 0 0 0 250px;
    position: relative;
}
.nd-login-cols .nd-login-left {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 250px;
    background-image: linear-gradient(45deg,#05b9a0,#269cd3);
    background-color: #000;
}
.nd-login-cols .nd-login-left .nd-ll-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.nd-login-cols .nd-login-left h2 {
    text-align: center;
    font-weight: 300;
    color: #fff;
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-size: 27px;
}

.nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 30px 20px;
    text-align: center;
}
.nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom p {
    font-weight: 200;
    font-size: 13px;
    color: #fff;
    margin: 0;
}
.nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom p a {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.nd-login-cols .nd-login-left .nd-ll-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
}
.nd-login-box {
    padding: 30px 40px 30px 40px;
}
.nd-title {
    font-weight: 400;
    color: #34495e;
    font-size: 1.6rem;
    margin: 0 0 30px 0;
    text-align: center;
}
.lg-field {
    margin: 0 0 15px 0;
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.signup-email input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    margin: 0 0 10px 0;
    color: #555;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.lg-field input.lg-text {
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    padding: 0 10px 0 40px;
    background-color: transparent;
    outline: 0;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.lg-field i {
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
}
.lg-field button {
    display: block;
    width: 100%;
    border-radius: 3px;
    outline: 0;
    background-color: #0099fe;
    color: #fff;
    font-size: 14px;
    outline: 0;
    border: none;
    height: 40px;
    font-weight: 600;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    position: relative;
}
.lg-error {
    min-height: 40px;
    margin: 15px 0 0 0;
}
.lg-social {
    margin: 0;
}
.lg-social .lgs-caption {
    height: 1px;
    background-color: #ddd;
    text-align: center;
    margin: 0 0 20px 0;
}
.lg-social .lgs-caption span {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    margin: 0;
    font-size: 11px;
    position: relative;
    top: -24px;
}
.lgs-cols {
    margin: 0 -8px;
}
.lgs-cols .lgs-item {
    float: left;
    padding: 0 8px;
    width: 33.333%;
}
.lgs-cols .lgs-item a {
    display: block;
    width: 100%;
    border-radius: 3px;
    outline: 0;
    color: #fff;
    font-size: 13px;
    outline: 0;
    border: none;
    height: 35px;
    font-weight: 400;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    position: relative;
    text-align: center;
    line-height: 35px;
    background-color: #3b5998;
}

.lgs-cols .lgs-item a.nd-google {
    background-color: #dd4b39;
}
.lgs-cols .lgs-item a.nd-twitter {
    background-color: #3a92c8;
}
.lgs-cols .lgs-item a i {
    margin: 0 8px 0 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */


    background-color: rgba(0,0,0,0.4);

    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {

    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
input:invalid{
    border-color: red;
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media only screen and (max-width: 631px){

    .close-model {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
    }
    .nd-login-cols {
        min-height: 405px;

        padding: 0 0 0 250px;
        position: relative;
    }
    .nd-login-cols .nd-login-left {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 250px;
        background-image: linear-gradient(45deg,#05b9a0,#269cd3);
        background-color: #000;
    }
    .nd-login-cols .nd-login-left .nd-ll-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .nd-login-cols .nd-login-left h2 {
        text-align: center;
        font-weight: 300;
        color: #fff;
        padding: 20px 10px 20px 10px;
        text-align: center;
        font-size: 27px;
    }

    .nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 20px 30px 20px;
        text-align: center;
    }
    .nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom p {
        font-weight: 200;
        font-size: 13px;
        color: #fff;
        margin: 0;
    }
    .nd-login-cols .nd-login-left .nd-ll-inner .ll-bottom p a {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
    }
    .nd-login-cols .nd-login-left .nd-ll-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0.7;
        background-image: url(https://db-static.imgix.net/dbcream/main/images/login/bg_login.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nd-login-box {
        padding: 30px 40px 30px 40px;
    }
    .nd-title {
        font-weight: 400;
        color: #34495e;
        font-size: 1.6rem;
        margin: 0 0 30px 0;
        text-align: center;
    }
    .lg-field {
        margin: 0 0 15px 0;
        position: relative;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .signup-email input {
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 2px;
        margin: 0 0 10px 0;
        color: #555;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
    }
    .lg-field input.lg-text {
        width: 100%;
        height: 40px;
        border: none;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
        padding: 0 10px 0 40px;
        background-color: transparent;
        outline: 0;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
    }
    .lg-field i {
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
        line-height: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #aaa;
    }
    .lg-field button {
        display: block;
        width: 100%;
        border-radius: 3px;
        outline: 0;
        background-color: #0099fe;
        color: #fff;
        font-size: 14px;
        outline: 0;
        border: none;
        height: 40px;
        font-weight: 600;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
        position: relative;
    }
    .lg-error {
        min-height: 40px;
        margin: 15px 0 0 0;
    }
    .lg-social {
        margin: 0;
    }
    .lg-social .lgs-caption {
        height: 1px;
        background-color: #ddd;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .lg-social .lgs-caption span {
        line-height: 20px;
        height: 20px;
        display: inline-block;
        background-color: #fff;
        padding: 0 5px;
        margin: 0;
        font-size: 11px;
        position: relative;
        top: -24px;
    }
    .lgs-cols {
        margin: 0 -8px;
    }
    .lgs-cols .lgs-item {
        float: left;
        padding: 0 8px;
        width: 33.333%;
    }
    .lgs-cols .lgs-item a {
        display: block;
        width: 100%;
        border-radius: 3px;
        outline: 0;
        color: #fff;
        font-size: 13px;
        outline: 0;
        border: none;
        height: 35px;
        font-weight: 400;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
        position: relative;
        text-align: center;
        line-height: 35px;
        background-color: #3b5998;
    }

    .lgs-cols .lgs-item a.nd-google {
        background-color: #dd4b39;
    }
    .lgs-cols .lgs-item a.nd-twitter {
        background-color: #3a92c8;
    }
    .lgs-cols .lgs-item a i {
        margin: 0 8px 0 0;
    }


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */


        background-color: rgba(0,0,0,0.4);

        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {

        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 85%; /* Could be more or less, depending on screen size */
    }


    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }
    input:invalid{
        border-color: red;
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
}