#hoten{
    border: 1px;
}
#thanhtoans{
     padding: 10px;
    margin-top: 25px;
    width: 100%;
    background-color: #dd151e;
    border: 5px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.ttt{

    background-color: #d4d4d4;

}
#imail:invalid {
    border-bottom: 2px red solid;

}
#phone:invalid {
    /*border-bottom: 2px red solid;*/

}
#lh{
    color: white;
    text-decoration: none;
}
#lh:hover{
    color: black;
}
