/*#search_form {
    height: 218px;
    border-radius: 5px;
    border: 1px solid white;
}*/
#booking_form_search {

    width: 138%;
    height: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
}

 .ribbonContainerInner {
     padding: 5px 15px 3px 15px;
     font-size: 13px;
 }

@media only screen and (min-width: 320px) {
    .v-ribbon h1, .v-ribbon span {
        padding: 5px 10px 5px 20px;
    }
}

.v-ribbon h1, .v-ribbon span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: absolute;
    color: #fff;
    margin: 10px 0 0 -26px;
    background-color: #e52822;
    top: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .24);
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 1px;
    border-top: 10px solid #9c0000;
    border-left: 10px solid transparent;

}

.cardItemPriceDivOuter {

    position: relative;
    bottom: 33px;
    left: 0;
}

.cardItemPriceDivOuter > .cardItemPriceDivInner {
    background: rgba(0, 70, 126, .8);
    position: absolute;
    padding: 5px 15px 3px 15px;
    font-size: 14px;
    color: #4e4e4e;
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
}

.cardItemPriceDivOuter > .cardItemPriceDivInner > .cardItemPriceAfterDiscount {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.tour-title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tour-detail{
    transition: all .2s linear;
    color: #4e4e4e;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #e4e4e6;
    padding-bottom: 0;
}
.tour-title > .cardItemTourName {

    color: #003c71;
    font-size: 16px;
    font-weight: bold;
}

.transportDiv > .fa {
    margin: 5px;
}

.time > span > .glyphicon {
    margin: 5px;
}

span > .glyphicon-calendar {
    margin: 5px;
}

.pricer {
    text-align: center;
}
.cardItemDepartDiv {
    min-height: 35px;
}
.v-margin-bottom-5{
    margin: 5px;
}
.price {

    font-size: 22px;
    font-weight: bold;
}

.vcolor-info {
    color: #00c1de;
}

 .line {
     margin: 50px 0;
 }
.lined-heading {
    z-index: 2;
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    font-family:  "Arial";
    font-weight: 600;
    line-height: 1.1;
    color: #F44336;
    font-size: 24px;
}
h2.lined-heading:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px solid red;
    content: "";
}
h2.lined-heading span {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    background: #ecf0f5;
    display: inline-block;
}
.hoverimg{

    overflow: hidden;
}
.hoverimg img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    -o-transition-duration: 2.5s; /*Như trên*/


}
.hoverimg img:hover{

    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);


}
#lh{
    color: white;
    text-decoration: none;
}
#lh:hover{
    color: black;
}

.detail-link{
    height: 30px;
    line-height: 30px;
    background: #ccc;
}