﻿@model QTwebdulich.Models.chitietdattour

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đơn hàng đã hủy</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>chitietdattour</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.matour, "matour", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.tour.ten)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yeucau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.yeucau)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.hoten)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dienthoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.dienthoai)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.email)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaytao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.ngaytao)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.ngaycapnhat)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hinhthucthanhtoan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.hinhthucthanhtoan)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.giatien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.giatien)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.giamgia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control">@Html.DisplayFor(model => model.giamgia)</div>
            </div>
        </div>

        <div class="form-group _hidden">
            @Html.LabelFor(model => model.daxoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.daxoa)
                    @Html.ValidationMessageFor(model => model.daxoa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tinhtrangdonhang, "tinhtrangdonhang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tinhtrangdonhang", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.tinhtrangdonhang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Phục hồi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
