﻿@model QTwebdulich.Models.chitietdattour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>chitietdattour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Yêu Cầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeucau)
        </dd>

        <dt>
           Họ Và Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            Số Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dienthoai)
        </dd>

        <dt>
            Địa Chỉ Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
           Ngày Đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
           Ngày Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            Hình Thức Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhthucthanhtoan)
        </dd>

        <dt>
            Giá Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giatien)
        </dd>

        <dt>
            Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamgia)
        </dd>

        <dt class="_hidden">
            @Html.DisplayNameFor(model => model.daxoa)
        </dt>

        <dd class="_hidden">
            @Html.DisplayFor(model => model.daxoa)
        </dd>

        <dt>
            Tình Trạng Đơn Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrangdonhang)
        </dd>

        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khachhang.ten)
        </dd>

        <dt>
            Đăng kí/Chưa Đăng Kí
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour.ten)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
