﻿@model QTwebdulich.Models.chitietdattour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>chitietdattour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yeucau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeucau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhthucthanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhthucthanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daxoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daxoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrangdonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrangdonhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khachhang.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khachhang.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour.ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
