﻿@model IEnumerable<QTwebdulich.Models.chitietdattour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{ if (ViewBag.tinhtrangdon == 4)
    {
        <h2>Danh sách đơn hàng đã hủy</h2>
    }
    else
    {
        <h2>Danh sách đơn hàng</h2>
    }
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                Ngày Đặt
            </th>
            <th>
                Yêu Cầu
            </th>
            <th>
                Họ Và Tến
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
               Địa Chỉ Email
            </th>
            
            <th>
               Ngày Cập Nhật Tour
            </th>
            <th>
                Hình Thức Thanh Toán
            </th>
            <th>
                Giá Tiền
            </th>
            <th>
                Giảm Giá
            </th>
            <th>
                Tình Trạng Đơn Hàng
            </th>
            <th>
                Đăng kí/Chưa Đăng kí
            </th>
            <th>
                Tên Tour
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ngaytao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yeucau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dienthoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ngaycapnhat)
                </td>
                <td>
                    @{
                        if (item.hinhthucthanhtoan == 1)
                        {
                            <span class="hinhthuctt tructiep">Thanh toán trực tiếp</span>
                        }

                        if (item.hinhthucthanhtoan == 2)
                        {
                            <span class="hinhthuctt tainha">Thu tại nhà</span>
                        }

                        if (item.hinhthucthanhtoan == 3)
                        {
                            <span class="hinhthuctt chuyenkhoan">Chuyển khoản</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giatien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giamgia)
                </td>
                <td>
                    @{
                        if (item.tinhtrangdonhang == 1)
                        {
                            <span class="tinhtrangdh moi">Đơn hàng mới</span>
                        }

                        if (item.tinhtrangdonhang == 2)
                        {
                            <span class="tinhtrangdh dangxuly">Đang xử lý</span>
                        }

                        if (item.tinhtrangdonhang == 3)
                        {
                            <span class="tinhtrangdh hoanthanh">Hoàn thành</span>
                        }

                        if (item.tinhtrangdonhang == 4)
                        {
                            <span class="tinhtrangdh dahuy">Đã hủy</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.khachhang == null)
                        {
                            <span>Chưa đăng ký</span>
                        }
                        else
                        {
                            <strong>@item.khachhang.ten</strong>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tour.ten)
                </td>
                <td>
                    @{ 
                        if (ViewBag.tinhtrangdon == 4)
                        {
                            @Html.ActionLink("Chi tiết", "DaHuy", new { id = item.id })
                        }
                        else
                        {
                            @Html.ActionLink("Chi tiết", "Edit", new { id = item.id })
                        }
                    }
                    /
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>


</table>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            "bSort": false
        });
    });
</script>