﻿@model QTwebdulich.Models.tour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomtat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomtat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chitiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hienthi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hienthi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noibat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noibat)
        </dd>

        <dt class="_hidden">
    
            @Html.DisplayNameFor(model => model.daxoa)
        </dt>

        <dd class="_hidden">
            @Html.DisplayFor(model => model.daxoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diadiem.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diadiem.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phuongtien.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phuongtien.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taikhoan.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taikhoan.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
