﻿@model QTwebdulich.Models.tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tomtat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomtat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chitiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hienthi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hienthi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noibat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noibat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daxoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daxoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diadiem.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diadiem.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phuongtien.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phuongtien.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taikhoan.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taikhoan.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
