﻿@model IEnumerable<QTwebdulich.Models.tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoigian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tomtat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chitiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hienthi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noibat)
        </th>
        <th class="_hidden">
            @Html.DisplayNameFor(model => model.daxoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaytao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giamgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diadiem.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phuongtien.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taikhoan.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoigian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tomtat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chitiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hienthi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noibat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daxoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giamgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diadiem.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phuongtien.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taikhoan.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
         |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
