﻿@model IEnumerable<QTwebdulich.Models.chitietdattour>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>

<style>
    .exportExcel{
      padding: 5px;
      border: 1px solid grey;
      margin: 5px;
      cursor: pointer;
    }
</style>

<h2>Tổng quan</h2>

<div class="container dashboard-content">
    <div class="row block-timkiem">

        @using (Html.BeginForm("Index", "Report"))
        {
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="timkiem">
                <p>Từ ngày</p>
                <input id="from-date" type="date" name="from" class="select-ngay" />
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="timkiem">
                <p>Đến ngày</p>
                <input id="to-date" type="date" name="to" class="select-ngay" onchange="onChangeToDate()" />
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <button type="submit" style="float: right">Tìm kiếm</button>
        </div>
        }
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail dukien">
                <p>Tổng đơn hàng</p>
                @{
                        if (ViewBag.dondukien != null)
                        {
                <p>@string.Format("{0:n0}", ViewBag.dondukien)</p>
                        }
                        else
                        {
                <p>0</p>
                        }
                }
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail dukien">
                <p>Doanh thu dự kiến</p>
                @{
                    if (ViewBag.giatridukien != null)
                    {
                <p>@string.Format("{0:n0}", ViewBag.giatridukien)</p>
                    }
                    else
                    {
                <p>0</p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail donchot">
                <p>Đơn chốt thành công</p>
                @{
                    if (ViewBag.donchot != null)
                    {
                <p>@string.Format("{0:n0}", ViewBag.donchot)</p>
                    }
                    else
                    {
                <p>0</p>
                    }
                }
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail donchot">
                <p>Giá trị đơn chốt</p>
                @{
                    if (ViewBag.giatrichot != null)
                    {
                <p>@string.Format("{0:n0}", ViewBag.giatrichot)</p>
                    }
                    else
                    {
                <p>0</p>
                    }
                }
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail donhuy">
                <p>Đơn bị hủy</p>
                @{
                    if (ViewBag.donhuy != null)
                    {
                <p>@string.Format("{0:n0}", ViewBag.donhuy)</p>
                    }
                    else
                    {
                <p>0</p>
                    }
                }
            </div>
        </div>
        <div class="col-md-2 col-xs-2 col-lg-2 block-dashboard">
            <div class="block-detail donhuy">
                <p>Giá trị đơn hủy</p>
                @{
                    if (ViewBag.giatrihuy != null)
                    {
                <p>@string.Format("{0:n0}", ViewBag.giatrihuy)</p>
                    }
                    else
                    {
                <p>0</p>
                    }
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        @{
            if (Model.Count() > 0)
            {
                <table class="table" id="table_id">
                    <thead>
                        <tr>
                            <th>
                                Yêu Cầu
                            </th>
                            <th>
                                Họ Và Tến
                            </th>
                            <th>
                                Số Điện Thoại
                            </th>
                            <th>
                                Địa Chỉ Email
                            </th>
                            <th>
                                Ngày Đặt
                            </th>
                            <th>
                                Ngày Cập Nhật Tour
                            </th>
                            <th>
                                Hình Thức Thanh Toán
                            </th>
                            <th>
                                Giá Tiền
                            </th>
                            <th>
                                Giảm Giá
                            </th>
                            <th>
                                Tình Trạng Đơn Hàng
                            </th>
                            <th>
                                Đăng kí/Chưa Đăng kí
                            </th>
                            <th>
                                Tên Tour
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.yeucau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hoten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dienthoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ngaytao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ngaycapnhat)
                                </td>
                                <td>
                                    @{
                                        if (item.hinhthucthanhtoan == 1)
                                        {
                                            <span class="hinhthuctt tructiep">Thanh toán trực tiếp</span>
                                        }

                                        if (item.hinhthucthanhtoan == 2)
                                        {
                                            <span class="hinhthuctt tainha">Thu tại nhà</span>
                                        }

                                        if (item.hinhthucthanhtoan == 3)
                                        {
                                            <span class="hinhthuctt chuyenkhoan">Chuyển khoản</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.giatien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.giamgia)
                                </td>
                                <td>
                                    @{
                                        if (item.tinhtrangdonhang == 1)
                                        {
                                            <span class="tinhtrangdh moi">Đơn hàng mới</span>
                                        }

                                        if (item.tinhtrangdonhang == 2)
                                        {
                                            <span class="tinhtrangdh dangxuly">Đang xử lý</span>
                                        }

                                        if (item.tinhtrangdonhang == 3)
                                        {
                                            <span class="tinhtrangdh hoanthanh">Hoàn thành</span>
                                        }

                                        if (item.tinhtrangdonhang == 4)
                                        {
                                            <span class="tinhtrangdh dahuy">Đã hủy</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.khachhang == null)
                                        {
                                            <span>Chưa đăng ký</span>
                                        }
                                        else
                                        {
                                            <strong>@item.khachhang.ten</strong>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tour.ten)
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        var table = $('#table_id').DataTable({
                            bSort: false,
                            dom: 'Bfrtip',
                            buttons: [
                            {
                                extend: 'excel',
                                text: 'Export excel',
                                className: 'exportExcel',
                                filename: 'Du lịch Quang Tùng - Thống kê đơn đặt hàng',
                                exportOptions: {
                                    modifier: {
                                        page: 'all'
                                    }
                                }
                            }]
                        });
                    });
                </script>
                                        }
        }
    </div>
</div>

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("to-date").setAttribute("max", today);
    document.getElementById("from-date").setAttribute("max", today);

    document.getElementById("to-date").setAttribute("value", today);
    document.getElementById("from-date").setAttribute("value", today);

    function onChangeToDate() {
        var todate = $("#to-date").val();
        var fromdate = $("#from-date").val();

        var _today = new Date(todate);
        var _dd = _today.getDate();
        var _mm = _today.getMonth() + 1;
        var _yyyy = _today.getFullYear();
        if (_dd < 10) {
            _dd = '0' + dd
        }
        if (_mm < 10) {
            _mm = '0' + _mm
        }

        _today = _yyyy + '-' + _mm + '-' + _dd;
        document.getElementById("from-date").setAttribute("max", todate);
        if (fromdate > todate) {
            $("#from-date").val(todate);
        }
    }

    $(document).ready(function () {
        var _from = getUrlParameter("from");
        var _to = getUrlParameter("to");
        if (_from) {
            $("#from-date").val(_from);
        };
        if (_to) {
            $("#to-date").val(_to);
        }
        onChangeToDate();
    });
</script>
