﻿
<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != null && ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }

    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
        </div>
    </div>


</div>

<div class="container-fluid lienhe">
    <div class="row text-center" style="margin: 20px 0 20px 0">
        <div class="col-md-12 col-sm-12 col-xs-12 dattour-thanhcong" style="margin-bottom: 20px">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 style="color:#0fad00">THẤT BẠI!</h2>
                <h3>Có lỗi xảy ra trong quá trình đặt tour. Vui lòng đặt lại</h3>
                <p style="font-size:20px;color:#5C5C5C;">
                    Xin vui lòng đặt lại hoặc liên hệ số điện thoại 0985708579 để được tư vấn hỗ trợ.
                    Chúng tôi xin Chân thành cảm ơn.
                </p>
                <br><br>
            </div>

        </div>
    </div>
</div>


<div id="hotel">
    <div class="container">

    </div>
</div>

@Html.Partial("_Footer")

</div>