﻿<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function login() {
            var username = document.getElementById("user").value;
            var password = document.getElementById("pass").value;
            if (username != "" && password != "") {
                alert("Login successfully");
                window.location = "index.html";
                return false;
            }
            else if (username == "" || password == "") {
                alert(" Please enter full information");
            }
        }
</script>

<link rel="stylesheet" href="~/Assets/css/thanhtoan.css">

<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    <div style="background-image: url(../../Assets/img/Tourist/aaaaaaa.jpg)">

        @Html.Partial("_Menu")

        <div id="center">
            <div id="booking">

                <div id="booking_slogan">
                    ĐẠI LÝ PHÂN PHỐI CÁC TOUR DU LỊCH HẤP DẪN ĐẾN MỌI NƠI TRÊN CẢ NƯỚC
                </div>
                @{ Html.RenderAction("SearchForm", "Shared"); }
            </div>


        </div>
    </div>

</div>
<div class="container-fluid" style="background-color: #ecf0f5">
    <div class="container showtourist">
        <div class="row" style="margin: 40px 0 40px 0">
            <div class="col-md-8 col-sm-8 col-xs-12 ">
                <div class="content">
                    <h2 style="font-weight: 700;">THANH TOÁN</h2>
                    @{ 
                        var idTour = Request.QueryString["tour"];
                    }
                    @using (Html.BeginForm("DatTour", "Purchase"))
                    {
                        <h4 style="font-weight: 600;font-size: 25px"> Hình thức thanh toán</h4>
                        <label> <input type="radio" name="thanhtoan" onclick="Thanhtoan(1)" checked> Thanh Toán Tại Văn Phòng StartTour</label><br>
                        <label> <input type="radio" name="thanhtoan" onclick="Thanhtoan(2)" id="check"> Chuyển Khoản Ngân Hàng</label><br>
                        <label>
                            <input type="radio" name="thanhtoan" onclick="Thanhtoan(3)" value="tt"> Thanh Toán
                            Trực Tiếp
                        </label>

                        <input type="hidden" id="hinhthucthanhtoan" value="1" name="hinhthucthanhtoan">
                        <input type="hidden" name="idTour" value="@idTour">

                        <script>
                            function Thanhtoan(hinhthuc) {
                                $("#hinhthucthanhtoan").val(hinhthuc);
                            }
                        </script>


                        <h4 style="font-weight: 600;font-size: 25px">Thông Tin</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <label> Họ Tên <span style="color: #dd4c39">*</span></label><br>
                                <input type="text" name="hoten" id="hote" value="@ViewBag.tenKH" placeholder="Nhập họ tên" required class="form-control">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <label> Điện Thoại <span style="color: #dd4c39">*</span></label>
                                <input type="text" name="sdt" id="phone" value="@ViewBag.dienthoaiKH" class="form-control" placeholder="Nhập số điện thoại" required
                                       pattern="(0)+([0-9]{9})\b"><br>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <label> Email <span style="color: #dd4c39">*</span></label><br>
                                <input type="email" name="email" id="email" value="@ViewBag.mailKH" placeholder="Nhập email" required class="form-control"><br>
                            </div>
                        </div>
                        <textarea name="yckhac" placeholder="Yêu cầu khác ... " class="form-control"
                                  rows="7" id="yc"></textarea>
                        <button id="thanhtoans" type="submit" class="payoffline">
                            Tiến hành đặt tour
                        </button>
                    }


                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="content">
                    <figure>
                        <div class="hoverimg">
                            @{
                                var hinhanh = "";
                                if (ViewBag.tour.hinhanh != null)
                                {
                                    hinhanh = ViewBag.tour.hinhanh;
                                }
                            }
                            <img class="img-responsive" src="@hinhanh"
                                 onerror="this.onerror = null; this.src = '/Assets/img/img404.jpg';" alt="@ViewBag.tour.ten">
                        </div>
                    </figure>
                    <div class="cardItemPriceDivOuter">
                        <div class="cardItemPriceDivInner">
                            <span class="cardItemPriceAfterDiscount"><i class="glyphicon glyphicon-map-marker"></i> 
                                @ViewBag.tour.diadiem.ten
                            </span>
                        </div>
                    </div>
                    <div class="tour-detail">
                        <div class="tour-title">
                            <span class="cardItemTourName">
                                <a href="#"> 
                                    @ViewBag.tour.ten
                                 </a>
                            </span>
                        </div>

                        <div class="v-margin-bottom-5 cardItemDepartDiv">
                            @ViewBag.tour.tomtat
                        </div>

                        <div class="pricer fixed-price-height">
                            @{
                                if (ViewBag.tour.giamgia != 0)
                                {

                                    <span class="price vcolor-info price-gianiemyet">@string.Format("{0:n0}", ViewBag.tour.gia) VND</span><br />
                                            <span class="price vcolor-info price-giaban">
                                    @string.Format("{0:n0}", ViewBag.tour.gia - (ViewBag.tour.gia * ViewBag.tour.giamgia / 100)) VND</span>
                                }
                                else
                                {
                                    <span class="price vcolor-info price-giaban">@string.Format("{0:n0}", ViewBag.tour.gia) VND</span><br />
                                }
                            }
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div id="hotel">
    <div class="container">
       
    </div>
</div>
&nbsp;

@Html.Partial("_Footer")






</div>