﻿<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>


<script>
    function login() {
        var username = document.getElementById("user").value;
        var password = document.getElementById("pass").value;
        if (username != "" && password != "") {
            alert("Login successfully");
            window.location = "index.html";
            return false;
        }
        else if (username == "" || password == "") {
            alert(" Please enter full information");
        }


    }


</script>


<div id="container" style="background-color: #ecf0f5">
    <div id="header"></div>
    @{
        string banner = "../../Assets/img/background-not-found.jpg";
        if (ViewBag.banner != null && ViewBag.banner != "")
        {
            banner = "../.." + ViewBag.banner;

        }
    }

    <div style="background: url('@banner') no-repeat center center fixed; background-size: cover;">
        @Html.Partial("_Menu")
        <div id="center">
        </div>
    </div>


</div>

<div class="container-fluid lienhe">
    <div class="row text-center" style="margin: 20px 0 20px 0">
        <div class="col-md-12 col-sm-12 col-xs-12 dattour-thanhcong" style="margin-bottom: 20px">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 style="color:#0fad00">THÀNH CÔNG</h2>
                <h3>Cảm ơn quý khách hàng đã tin tưởng và đặt Tour với chúng tôi.</h3>
                <p style="font-size:20px;color:#5C5C5C;">
                   Chúng tôi xin hứa sẽ tạo cho quý Khách Hàng có một chuyến du lịch thú vị, vui vẻ, tràn đầy
                    niềm vui. Một lần nữa xin trân trọng cảm ơn quý khách hàng.
                </p>
                <br><br>
            </div>

        </div>
    </div>
</div>


<div id="hotel">
    <div class="container">

    </div>
</div>

@Html.Partial("_Footer")

</div>